/* importação da fonte pelo google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* configuração geral da página */
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--color-ligthBlue);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* variáveis de cores que serão utilizadas */
:root{
    --color-white: #f8fafc;
    --color-black: #000;
    --color-ligthBlue: #0ea5e9;
    --color-darkBlue:#0f172a;
}

/* estilização das tags no geral */
a{
    text-decoration: none;
    color: var(--color-black);
}

h1, p ,h4{
    margin: 0;
    cursor: default;
}

img{
    max-width: 100%;
    height: auto;
}

/* estilização do cabeçalho*/
#cabecalho{
 display: flex;
 align-items: center;
 justify-content:space-between;  
 flex-wrap: wrap; 
 margin-bottom: 10px;
 background: var(--color-white);
}

/* estilização da logo da página*/
.logo{
    object-fit: cover;
    max-width: 150px;
}

/* estilização do menu de links do cabeçalho*/
.menu{
    display: flex;
    list-style: none;
    gap: 15px;  
    margin-right: 20px; 
    flex-wrap: wrap; 
}

.menu li{
    border-right: 1.2px solid var(--color-black);
    padding-right: 8px;
}

.menu a:hover{
    display: block;
    transform: scale(1.09);
    color: var(--color-ligthBlue);
}

#ultimo{
    border: none;
}

/* estilização do conteúdo principal da página */
.principal{
    display: flex;
    flex-direction: column;
    object-fit: cover;
}
.titulo{
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-darkBlue);
    color: var(--color-white);
    border-radius: 10px;
}

/* estilização do produto principal da empresa*/
#produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img-produto{
    max-width: 710px;
    object-fit: cover;
}

.img-produto img{
    max-width: 100%;
    border-radius: 10px;
}

/* estilização hover do produto principal*/
.img-produto:hover{
    transform: translate(0px) rotate(0.994983deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
}

/* estilização do botão de comprar*/
.botao-comprar{
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: var(--color-darkBlue);
    color: var(--color-white);
    font-size: 20px;
}

.botao-comprar:hover{
    background: var(--color-white);
    color: var(--color-darkBlue);
}

/* estilização do container de recursos do produto*/
.recursos{
    margin: 20px 0 20px 0;
    display: flex;
    gap:20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gelada24h, .conex-app, .termometro{
  width:100% ;
  max-width: 415px;  
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: var(--color-white);
  padding: 15px;
  border-radius: 10px;
  object-fit: cover;
}

#feature img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* estilização hover dos containers dos recursos */

.gelada24h:hover, .conex-app:hover, .termometro:hover{
    transform: scale(1.07);
}

/* estilização do formulário de compra do produto */
.compra{
    display: flex;
    justify-content: center ;
}

#formCompra{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    background: var(--color-darkBlue);
    color: var(--color-white);
    border-radius: 10px;
}

#formCompra h1{
    text-align: center;
    margin-bottom: 15px;
}

#formCompra label, #formCompra input{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 5px 0px;
}

/* estilização input do formulário */

#formCompra input{
    border: 2px solid var(--color-white); 
    transition: all 0.3s ease;
}

 #formCompra input:focus{
    border-color: var(--color-black); 
    outline: none; 
    box-shadow: 0 0 0 4px var(--color-ligthBlue);
}

#formCompra button{
    padding: 10px 30px;
    align-self: center;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.02rem;
}

/* estilização hover do botão de compra do formulário */
#formCompra button:hover{
    transform: scale(1.08);
}

.quantidade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;   
}

.quantidade input{
    width: 50px;
}

/* estilização do rodapé */
#rodape{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background: var(--color-white);
    flex-wrap: wrap;
    gap: 15px;
}

/* estilização das informações da empresa */
.informacoes{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 15px;
    align-items: center;
}

.endereco{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.endereco h4{
    padding-bottom: 15px;
}

/* estilização dos links principais */

.rodape-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}

.rodape-links li, .redes-sociais li{
    padding: 5px 0;
}

.rodape-links h4, .redes-sociais h4{
    padding: 0 0 10px 0;
}

.rodape-links a:hover{
    display: block;
    transform: scale(1.09);
    color: var(--color-ligthBlue);
}
/* estilização das redes sociais */

.redes-sociais{
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}

.redes-sociais ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0;
    padding: 0;
}

.redes-sociais img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    padding: 5px;
}

/* estilização hover das redes sociais */
.redes-sociais img:hover{
    transform: scale(1.5);
}